<% include ./partial/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-6" id="fst-img">
            <a href="/clothing" class="thumbnail"> 
            <img src="https://lh3.googleusercontent.com/pAk42dNl2uN8tNT67BbHBt5vRR5vIUQq7gcyw0zM5P8fB68VZQrJ_CLaYdP-V1FXU6yfQ9dkmi2G_SGIyg0q_1SU1HRM9H_SwsVaFqh8mFWQQf0cIZXBDrb85xJ28eQOIWffdBvhec61mW1Y8eZh5_lvXlzi924ShRYQK8bRR4IvMPJyS29iDvvXLdYGAmDdhUH48k1-x1e5ee1kEQtAllJ3y7c0FIrgqhrMaPTbacdV5wYYSL835tA3ZthMf-brbrn3RwzM0lUg4ysv-wQO-2qiFxo7aIITuae3G3jUNEOcR8_0yNdCTBGvnj9AlklxzF7w79-1r90OoRiz9ZB320FZV3Ih9BKQfH9c5K5PU2THzpoBmct3wxY5SFXhz7tAnxIT0j48hAfwPWj89d6IqMQ1smfeL4EZ7DnSU7-wBel0SWDTxk2D7NaHY3CdG-BaILJjmNGun8PxUqWFj3hwbmBPMur1rPeTOqOqSUNV5T5Wqg8r5bOBjtkUtN18reuLsalAs2R4cv1yzYp_D9EbtBJILD80nkNoNg8fRAKBuAK__niPbr3riBmj65mfTd37Wspc12y50KM85LE_0eg2aVSrPEUVQlAeiWJsK5ektVhPva-DiD2kd4xHFmq8uHp7VfnUvg4fHIkF5yRNsSe7-blk=w1496-h990-no"></a>
            </div>
    </div>
    
    
<h5>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet nisi vel rhoncus dignissim. 
Donec ut nulla imperdiet, viverra ipsum sit amet, fringilla lectus. Class aptent taciti sociosqu ad litora 
torquent per conubia nostra, per inceptos himenaeos. Pellentesque erat libero, pharetra ut mauris sed, tincidunt tristique turpis. 
Phasellus aliquam justo eget dui luctus accumsan. Nullam euismod rutrum erat vel gravida. Sed auctor orci enim, </h5>

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-2" id="fst-img">
            <a href="/clothing" class="thumbnail"> 
            <img src="https://lh3.googleusercontent.com/uPog374qz8bMjGS0zr3UcvXq38oKBq7_OPnP7zaqu-w6Q6jAcFvLjQeM4Y9r4Coc6W4D_qI2O-0E_zd5QG69iaxRfNW70iOjh41av6IGJ7S_44rh3eEdcjWeCq7_i51YXjusT4s3YOH77Aby56_9kQ26ZoQWQ0F_tlzUYZ0uNlwVB4JI6HYfq5zsbJHBwOD28p8X4hGmHAi7bWUPLJyUzmDJU0ci56nZSJmL5fCLjolrIYOGRuq1nDBiDemjZrUEm8pimc3JnnFy3OmIPbmSpjFZozxjWdmpUyDr7dMu48Wrgj9DKbKprprTO-_Q8oXgcX9MpyjHyEAUB1hLlfSvrCJeoL9q7h97_ke79IzfX9YJXA4ZT-O42PFilVExk5EcVl-Q6MBtLfwoUmoc1y3WlpJigTkY1jZjn-PpMP0DCZZuNbEeznPzUF1G4cQbLUfX2lVUQOIeFX7gUZ6YeBLOnV3NH4a0D1UztbnlSVxDs9B5Zz0wKrpRQUcbXA365e67Q16Pf_k6cXmlr31HvoNDFC4OffK47QXgKtdaRLiUhGH8E2P5XafB6I1tOooJoBtxoA7XL8S3FLBhJhsAfATGPC92zMUXA8Mp7ECUTlKX6_IJ-elCUknVx7Rp2nNPDrWC3UxlgZE4SjpKOzFeYAY1QljX=w1496-h990-no">
           </a>
            </div>
            
            <div class="col-lg-4 col-md-2" id="fst-img">
            <a href="/clothing" class="thumbnail"> 
            <img src="https://lh3.googleusercontent.com/uPog374qz8bMjGS0zr3UcvXq38oKBq7_OPnP7zaqu-w6Q6jAcFvLjQeM4Y9r4Coc6W4D_qI2O-0E_zd5QG69iaxRfNW70iOjh41av6IGJ7S_44rh3eEdcjWeCq7_i51YXjusT4s3YOH77Aby56_9kQ26ZoQWQ0F_tlzUYZ0uNlwVB4JI6HYfq5zsbJHBwOD28p8X4hGmHAi7bWUPLJyUzmDJU0ci56nZSJmL5fCLjolrIYOGRuq1nDBiDemjZrUEm8pimc3JnnFy3OmIPbmSpjFZozxjWdmpUyDr7dMu48Wrgj9DKbKprprTO-_Q8oXgcX9MpyjHyEAUB1hLlfSvrCJeoL9q7h97_ke79IzfX9YJXA4ZT-O42PFilVExk5EcVl-Q6MBtLfwoUmoc1y3WlpJigTkY1jZjn-PpMP0DCZZuNbEeznPzUF1G4cQbLUfX2lVUQOIeFX7gUZ6YeBLOnV3NH4a0D1UztbnlSVxDs9B5Zz0wKrpRQUcbXA365e67Q16Pf_k6cXmlr31HvoNDFC4OffK47QXgKtdaRLiUhGH8E2P5XafB6I1tOooJoBtxoA7XL8S3FLBhJhsAfATGPC92zMUXA8Mp7ECUTlKX6_IJ-elCUknVx7Rp2nNPDrWC3UxlgZE4SjpKOzFeYAY1QljX=w1496-h990-no">
           </a>
            </div>
            
            <div class="col-lg-4 col-md-2" id="fst-img">
            <a href="/clothing" class="thumbnail"> 
            <img src="https://lh3.googleusercontent.com/uPog374qz8bMjGS0zr3UcvXq38oKBq7_OPnP7zaqu-w6Q6jAcFvLjQeM4Y9r4Coc6W4D_qI2O-0E_zd5QG69iaxRfNW70iOjh41av6IGJ7S_44rh3eEdcjWeCq7_i51YXjusT4s3YOH77Aby56_9kQ26ZoQWQ0F_tlzUYZ0uNlwVB4JI6HYfq5zsbJHBwOD28p8X4hGmHAi7bWUPLJyUzmDJU0ci56nZSJmL5fCLjolrIYOGRuq1nDBiDemjZrUEm8pimc3JnnFy3OmIPbmSpjFZozxjWdmpUyDr7dMu48Wrgj9DKbKprprTO-_Q8oXgcX9MpyjHyEAUB1hLlfSvrCJeoL9q7h97_ke79IzfX9YJXA4ZT-O42PFilVExk5EcVl-Q6MBtLfwoUmoc1y3WlpJigTkY1jZjn-PpMP0DCZZuNbEeznPzUF1G4cQbLUfX2lVUQOIeFX7gUZ6YeBLOnV3NH4a0D1UztbnlSVxDs9B5Zz0wKrpRQUcbXA365e67Q16Pf_k6cXmlr31HvoNDFC4OffK47QXgKtdaRLiUhGH8E2P5XafB6I1tOooJoBtxoA7XL8S3FLBhJhsAfATGPC92zMUXA8Mp7ECUTlKX6_IJ-elCUknVx7Rp2nNPDrWC3UxlgZE4SjpKOzFeYAY1QljX=w1496-h990-no">
           </a>
            </div>
    </div>
</div>

<h5>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet nisi vel rhoncus dignissim. 
Donec ut nulla imperdiet, viverra ipsum sit amet, fringilla lectus. Class aptent taciti sociosqu ad litora 
torquent per conubia nostra, per inceptos himenaeos. Pellentesque erat libero, pharetra ut mauris sed, tincidunt tristique turpis. 
Phasellus aliquam justo eget dui luctus accumsan. Nullam euismod rutrum erat vel gravida. Sed auctor orci enim, </h5>
<% include ./partial/footer %>