<% include ../partial/header %>
<h1> Sign In</h1>
<form action ="/myaccount/signin" method="POST">
    <input type="text" name="username"placeholder="username">
    <input type="password" name="password"placeholder="password">
    <button>Sign in</button>
</form>
<% include ../partial/footer
%>