<% include ../partial/header %>
 <div class="container">
     <div class="row">
         <div class="clothing-header">
         <div class="col-lg-4">
             <div id="dress-header"> 
             <a href="/clothing/dresses"><h1> dress (slide picture )</h1></a>
           </div>
         </div>
         
         <div class="col-lg-4">
             <div id="abaya-header"> 
              <a href="/"><h1> Ababya (slide picture )</h1> </a>
         </div>
         </div>
         
         <div class="col-lg-4">
             <div id="short-header">  
             <a href="/"> <h1>short(slide picture )</h1> </a>
           </div>
         </div>
        </div>
     </div>
     <hr>
     <div class="row">
      <div class="col-lg-4">
       <h1> best of collection, 100% hand made </h1>
       </div>
      
      <div class="col-lg-8" id="dr_one">
       <img src="//unsplash.it/123/565">
     </div>
     </div>
   


<% include ../partial/footer %>